@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #171717;
  color: #ffffff;
}

/*---- scrollbar ----*/
html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 4px;
}

html.dark ::-webkit-scrollbar-track {
  background: #171717;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #555;
}

.underline-sm {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px; 
}

.link-grow {
  transition: transform 0.3s ease-in-out;
}

.link-grow:hover {
  transform: scale(1.09);
}

.link-transition {
  transition: color 0.3s ease-in-out; 
}

